<div style="display: flex;align-items: center; flex-direction: row;">
    <div style="display: flex; flex-direction: column;margin: 4em;">
        <mat-form-field appearance="outline" style="width: 350px;">
            <mat-label>Código vaca</mat-label>
            <input matInput placeholder="Código"  [(ngModel)]="objVaca.codigoVaca"  (ngModelChange) ="setValueCodigo($event)" [disabled]="habilitar" >
            <mat-icon matSuffix>house_siding</mat-icon>
            <mat-hint>{{ codigoValid }}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline"  style="width: 350px;">
            <mat-label>Peso</mat-label>
            <input matInput placeholder="Peso" [(ngModel)]="objVaca.pesoKgs"  (ngModelChange) ="setValuePeso($event)" >
    
            <mat-icon matSuffix>monitor_weight</mat-icon>
            <mat-hint> {{ pesoValid }} </mat-hint>
        </mat-form-field>
    </div>
    <div style="display: flex; flex-direction: column;margin: 4em;">
        <mat-form-field appearance="outline"  style="width: 350px">
            <mat-label>Raza </mat-label>
            <mat-select (selectionChange) ="setRaza( $event.value)" [(ngModel)]="objVaca.idRaza">
              <mat-option *ngFor="let option of options"  [value]="option.id">{{ option.descripcion}}</mat-option>
            </mat-select>
            <mat-hint align="end">{{ idRazaValid }}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-form-field">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="datepicker"  (dateInput) =setDate($event.value) [(ngModel)]="objVaca.fechaNac">
            <mat-hint> {{ fechaValid }}</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <!-- #docregion datepicker-actions -->
            <mat-datepicker #datepicker>
            
            </mat-datepicker>
          <!-- #enddocregion datepicker-actions -->
          </mat-form-field>
    </div>
</div>

<div id="botones" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <button mat-raised-button (click)="guardarVaca()" color="primary" style="margin-right: 10px;">Guardad</button>
    <button mat-raised-button routeLink="./listado" color="warn" routerLink="./listado">Cancelar</button>



</div>
