<div style="padding: 6em;">
   
    
    <table mat-table [dataSource]="vacas" class="mat-elevation-z8 table" >
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="codigoVaca">
        <th mat-header-cell *matHeaderCellDef   class="th-title"> <label class="label-title">No.  </label></th>
        <td mat-cell *matCellDef="let element">  {{element.codigoVaca}} </td>
        </ng-container>
        
        <ng-container matColumnDef="pesoKgs">
            <th mat-header-cell *matHeaderCellDef  class="th-title"> <label class="label-title">Peso </label></th>
            <td mat-cell *matCellDef="let element" style="text-align:center ;">  <span style="margin-top:4px ;">  {{element.pesoKgs}} </span></td>
        </ng-container>
    
        
        <ng-container matColumnDef="razaName">
            <th mat-header-cell *matHeaderCellDef  class="th-title"> <label class="label-title">Raza  </label> </th>
            <td mat-cell *matCellDef="let element"> {{element.razaName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="ultimaInseminacion">
            <th mat-header-cell *matHeaderCellDef  class="th-title"> <label class="label-title">Ultima Inseminacion  </label></th>
            <td mat-cell *matCellDef="let element">
                <span style="display: flex; align-items: center;justify-content: center; " *ngIf="!element.prenada" > {{element.ultimaInseminacion ? element.ultimaInseminacion : 'No se capturo' }}  
                    <button mat-icon-button  *ngIf="element.ultimaInseminacion" (click)="InseminacionSuccess(element.id)">
                        <mat-icon style="color:green;" *ngIf="!element.prenada">check_circle</mat-icon>
                    </button>
                    <button mat-icon-button  (click)="openInseminaciones(element.id)">
                        <mat-icon style="color:green;" >visibility</mat-icon>
                    </button>
                   
                </span> 
                
                <span *ngIf="element.prenada"> La vaca se encunetra preñada desde el {{element.ultimaInseminacion}}
                    <button mat-icon-button  (click)="openInseminaciones(element.id)">
                        <mat-icon style="color:green;" >visibility</mat-icon>
                    </button>
                </span>
              
            </td>

        </ng-container>
    
        
        <ng-container matColumnDef="fechaNac">
            <th mat-header-cell *matHeaderCellDef  class="th-title"> <label class="label-title">Fecha Nacimiento </label> </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaNac}} </td>
        </ng-container>
        
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="th-title"><label class="label-title"> Opciones  </label></th>
            <td mat-cell *matCellDef="let element" > 
                <button *ngIf="!element.prenada" mat-raised-button color="accent"  (click)="openDialog(element.id)"  style="margin: 2px;">
                    Inseminar
                </button>
                 <button mat-raised-button color="warn" (click)="eliminar(element.id)"  style="margin: 2px;"> 
                    Dar de baja
                </button>
                <button mat-raised-button    style="margin: 2px;background-color: #42B81F;" (click)="editar(element.id)" > 
                    Editar
                </button>
                <button mat-raised-button    style="margin: 2px; background-color: #F0FAED;" (click)="liberar(element.id)" *ngIf="element.prenada" > 
                    Liberar
                </button>
                
            </td>
        </ng-container>
        
    
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

 

 