<div style="padding: 6em;">
    <mat-form-field appearance="standard">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Descripción" #input>
      </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" >
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="supervisor">
        <th mat-header-cell *matHeaderCellDef   class="th-title"> Supervisor </th>
        <td mat-cell *matCellDef="let element"> {{element.supervisor.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef  class="th-title"> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="estatus">
            <th mat-header-cell *matHeaderCellDef  class="th-title"> Estatus </th>
            <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
        </ng-container>
    
           
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef  class="th-title"> Opciones </th>
            <td mat-cell *matCellDef="let element">  
                <button mat-raised-button (click)="cambiarEstatus(2, element.id)" *ngIf="element.estado==1" style="background-color: #FFFC1B;"> En proceso </button>
                <button mat-raised-button (click)="cambiarEstatus(3 , element.id)" *ngIf="element.estado==2" style="background-color: #2CFF1B"> Terminar </button>

            
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>